<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Information Form</title>
  <link rel="stylesheet" href="styles.css"> <!-- You can link to a CSS file if you need styling -->
</head>
<body>
  <h1>Volunteer Registration Form</h1>
  <br><br><br><br><br>
  <form action="/addVolunteer" method="POST">
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName" required>
    </div>
    
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName" required>
    </div>

    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>

    <div>
      <label for="phone">Phone Number:</label>
      <input type="tel" id="phone" name="phone" pattern="^\+?[1-9]\d{1,14}$" required>
    </div>

    <div>
      <label for="password">Enter a Password:</label>
      <input type="password" id="password" name="password" required>
    </div>

    <div>
      <label for="address1">Street Address 1:</label>
      <input type="text" id="address1" name="address1" required>
    </div>

    <div>
      <label for="address2">Street Address 2:</label>
      <input type="text" id="address2" name="address2">
    </div>

    <div>
      <label for="city">City:</label>
      <input type="text" id="city" name="city" required>
    </div>

    <div>
      <label for="state">State:</label>
      <input type="text" id="state" name="state" maxlength="2" required>
    </div>

    <div>
      <label for="zip">ZIP Code:</label>
      <input type="text" id="zip" name="zip" pattern="^\d{5}(-\d{4})?$" required>
    </div>

    <div>
      <label for="source">How did you hear about us?</label>
      <select name="source" id="source">
        <% source.forEach(item => { %>
            <option value="<%= item.vol_source %>"><%= item.source_type %></option>
        <% }) %>
    </select>    
    </div>

    <div>
      <label for="role" hidden>Role:</label>
      <select name="role" id="role" hidden>
          <% role.forEach(item => { %>
              <option value="<%= item.role_id %>"><%= item.role_name %></option>
          <% }) %>
      </select>
    </div>

    <div>
      <label for="sewLevel">Sewing Level:</label>
      <select name="sewLevel" id="sewLevel">
          <% proficiency.forEach(item => { %>
              <option value="<%= item.level_id %>"><%= item.level %></option>
          <% }) %>
      </select>
    </div>

    <div>
      <label for="hours">Hours per month you are willing to serve:</label>
      <input type="number" id="hours" name="hours" min="0" required>
    </div>

    <div>
      <button type="submit">Submit</button>
    </div>
  </form>

</body>
</html>
