<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Events</title>
    <link rel="stylesheet" href="/chatstyles.css">
</head>
<body>
    <header></header>
        <nav class="navbar">
            <div class="logo">
                <a href="/">Turtle Shelter Project</a>
            </div>
            <ul class="nav-links">
                <li><a href="/manageUsers">View Volunteers</a></li>
                <li><a href="/manageEvents">Manage Events</a></li>
                <li><a href="/manageRequests">Manage Requests</a></li>
                <li><a href="/logout">Logout</a></li>
                
            </ul>
        </nav>
    </header>
        <table>
            <caption><b>Events</b></caption>
            <thead>
                <tr>
                    <th style="text-align: left;">Date of Event:</th>
                    <th style="text-align: left;">Supervisor Name:</th>
                    <th style="text-align: left;">Event Status:</th>
                    <th style="text-align: left;">Event Type:</th>
                    <th style="text-align: left;">Event Location:</th>
                    <th style="text-align: left;">Location Type:</th>
                    <th style="text-align: left;"># of Particpants</th>
                    <th style="text-align: left;">Duration of Event</th>
                    <th style="text-align: left;"># of Pockets Produced</th>
                    <th style="text-align: left;"># of Collars Produced</th>
                    <th style="text-align: left;"># of Collars Produced</th>
                    <th style="text-align: left;"># of Collars Produced</th>
                    <th style="text-align: left;"># of Vests Produced</th>
                    <th style="text-align: left;"># of Vests Distributed</th>
                    <th style="text-align: left;"># of Volunteers Needed</th>
                    <th style="text-align: left;">Edit</th>
                    <th style="text-align: left;">Delete</th>
                
                </tr>
            </thead>
            <tbody>
                <% for (let iCount = 0; iCount < events.length; iCount++) { %>
                    <tr>
                        <td><%= events[iCount].event_datetime %></td>
                        <td><%= events[iCount].vol_first_name %> <%= events[iCount].vol_last_name %></td>
                        <td><%= events[iCount].event_status_name %></td>
                        <td><%= events[iCount].event_type_name %></td>
                        <td><%= events[iCount].event_street_1 %> <%= events[iCount].event_street_2 %>, <%= events[iCount].event_city %>, <%= events[iCount].event_state %>, <%= events[iCount].event_zip %></td>
                        <td><%= events[iCount].location_type_name %></td>
                        <td><%= events[iCount].participants %></td>
                        <td><%= events[iCount].event_duration %></td>
                        <td><%= events[iCount].pockets %></td>
                        <td><%= events[iCount].collars %></td>
                        <td><%= events[iCount].envelopes %></td>
                        <td><%= events[iCount].vests %></td>
                        <td><%= events[iCount].completed_products %></td>
                        <td><%= events[iCount].distributed_products %></td>
                        <td><%= events[iCount].volunteers_needed %></td>
                        <td>
                            <div class="action-button">
                                <form action="/editEvent/<%= events[iCount].event_id %>" method="GET">
                                    <button type="submit">Edit</button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div class="action-button">
                                <form action="/cancelEvent/<%= events[iCount].event_id %>" method="POST">
                                    <button type="submit" onclick="return confirm('Are you sure you want to cancel this event?');">Cancel Event</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                <% } %>
            </tbody>

        </table>
    <div class='center-button'>
        <form  action="/createEvent" method="GET">
            <button type="submit">Add an Event</button>
        </form>

        <form  action="/dashboard" method="GET">
            <button type="submit">Back to Dashboard</button>
        </form>
    </div>

    <footer id='footer' class="footer">
        <p>&copy; 2024 Turtle Shelter Project | All rights reserved | 
            <a href="mailto:turtleshelterproject@gmailcom">turtleshelterproject@gmail.com</a> |
            <a href="tel:(801) 872-3190">(801) 872-3190</a>
        </p>
    </footer>
</body>
</html>

