<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Requests</title>
    <link rel="stylesheet" href="/chatstyles.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/">Turtle Shelter Project</a>
                
            </div>
            <ul class="nav-links">
                <li><a href="/manageUsers">View Volunteers</a></li>
                <li><a href="/manageEvents">Manage Events</a></li>
                <li><a href="/manageRequests">Manage Requests</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

        <table>
            <caption><b>Requests</b></caption><br>
            <thead>
                <tr>
                    <th style="text-align: left;">Request Made:</th>
                    <th style="text-align: left;">Organization Name:</th>
                    <th style="text-align: left;">Contact Name:</th>
                    <th style="text-align: left;">Contact Phone:</th>
                    <th style="text-align: left;">Contact Email:</th>
                    <th style="text-align: left;">Event Address:</th>
                    <th style="text-align: left;">Event Activity:</th>
                    <th style="text-align: left;">Estimated # of Attendees:</th>
                    <th style="text-align: left;"># of Basic Sewers</th>
                    <th style="text-align: left;"># of Advanced Sewers</th>
                    <th style="text-align: left;"># of Machines</th>
                    <th style="text-align: left;"># of Sergers</th>
                    <th style="text-align: left;">Jen's Story</th>
                    <th style="text-align: left;">Proposed Date and Time</th>
                    <th style="text-align: left;">Alternate Date and Time</th>
                    <th style="text-align: left;">Estimated Duration</th>
                    <th style="text-align: left;">Request Status</th>
                    <th>Accept</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for (let iCount = 0; iCount < myrequests.length; iCount++) { %>
                    <tr>
                        <td><%= myrequests[iCount].request_datetime %></td>
                        <td><%= myrequests[iCount].organization_name %></td>
                        <td><%= myrequests[iCount].contact_first_name %> <%= myrequests[iCount].contact_last_name %></td>
                        <td href="TEL:<%= myrequests[iCount].contact_phone %>"><%= myrequests[iCount].contact_phone %></td>
                        <td><%= myrequests[iCount].contact_email %></td>
                        <td><%= myrequests[iCount].req_street_1 %> <%= myrequests[iCount].req_street2 %>, <%= myrequests[iCount].req_city %>, <%= myrequests[iCount].req_state %>, <%= myrequests[iCount].req_zip %></td>
                        <td><%= myrequests[iCount].event_type_name %></td>
                        <td><%= myrequests[iCount].est_attendees %></td>
                        <td><%= myrequests[iCount].basic_sewers %></td>
                        <td><%= myrequests[iCount].advanced_sewers %></td>
                        <td><%= myrequests[iCount].num_machines %></td>
                        <td><%= myrequests[iCount].num_sergers %></td>
                        <td><%= myrequests[iCount].jen_story %></td>
                        <td><%= myrequests[iCount].proposed_datetime %></td>
                        <td><%= myrequests[iCount].alt_datetime %></td>
                        <td><%= myrequests[iCount].est_duration %></td>
                        <td><%= myrequests[iCount].request_status_name %></td>
                        <td style="text-align: center;">
                            <form action="/createEvent/<%= myrequests[iCount].request_id %>" method="GET">
                                <button type="submit">Approve</button>
                            </form>
                        </td>
                        <td style="text-align: center;">
                            <form action="/denyRequest/<%= myrequests[iCount].request_id %>" method="POST">
                                <button type="submit" onclick="return confirm('Are you sure you want to deny this request?');">Deny</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>

        </table>
        
        <div class="center-button">
            <form action="/dashboard" method="GET">
                <button type="submit">Back to Dashboard</button>
            </form>
        </div>

    <footer id='footer' class="footer">
        <p>&copy; 2024 Turtle Shelter Project | All rights reserved | 
            <a href="mailto:turtleshelterproject@gmailcom">turtleshelterproject@gmail.com</a> |
            <a href="tel:(801) 872-3190">(801) 872-3190</a>
        </p>
    </footer>
</body>
</html>

